*{
	padding: 0;
	margin: 0;
	background-color: #ccc;
}

canvas{
	background: #eee;
	display: block;
	margin: 0 auto;
	z-index: 3;
	position: relative;
}

#infoBox{
	font-family:Georgia;
	font-size: 15px;
	background: lightblue;
	display: block;
	margin: 0 auto;
	width: 400px;
	padding: 20px;
}
/*span{
	position: absolute;
	width: 50%;
	height: 100vh;
	z-index: 2;
}*/

img{
	display: none;
}

button{
	width: 75px;
	height: 50px;
	user-select: none;
}
