*{
	padding: 0;
	margin: 0;
	background-color: #ccc;
}
#containerBox{			/*Canvases(plural) container*/
	margin: 0 auto;
	width: 475px;
	height: 300px;
}
#mainCanvas{			/*main game canvas*/
	background: none;
	vertical-align: bottom;
	position: absolute;
	z-index: 3;
}
#bgCanvas{				/*background scene canvas*/
	background: #eee;
	vertical-align: bottom;
	position: absolute;
	z-index: 2;
}
#keysAndInfoContainer{	/*key and instruction box */
	margin: 0 auto;
	width: 475px;
}
#controlBox{
	background: #222;
	padding: 50px;
}
#infoBox{
	font-family:Georgia;
	font-size: 15px;
	background: lightblue;
	padding: 20px;
}
/*span{
	position: absolute;
	width: 50%;
	height: 100vh;
	z-index: 2;
}*/

img{
	display: none;
}

button{touch-action: manipulation;
	width: 75px;
	height: 50px;
	user-select: none;
}
