*{
	padding: 0;
	margin: 0;
	background-color: #ddd;
}
#containerBox{			/*Canvases(plural) container*/
	margin: 0 auto;
	width: 475px;
	height: 300px;
}
#mainCanvas{			/*main game canvas*/
	background: none;
	vertical-align: bottom;
	position: absolute;
	z-index: 3;
}
#bgCanvas{				/*background scene canvas*/
	background: #eee;
	vertical-align: bottom;
	position: absolute;
	z-index: 2;
}
#keysAndInfoContainer{	/*key and instruction box */
	margin: 0 auto;
	width: 475px;
}
#controlBox{
	background: #222;
	padding: 50px;
}
#infoBox{
	font-family:Georgia;
	font-size: 15px;
	background: #2ed936;
	padding: 20px;
}

img{
	display: none;
}

button{touch-action: manipulation;
	width: 75px;
	height: 50px;
	user-select: none;
}


#userDialog{
	width:300px;
	font-family:monospace;
	font-size:20px; 
	user-select:none;
	position:fixed;
	left:50%;top:50%;transform: translate(-50%, -50%);
	z-index: 9999;
	padding: 10px;
	box-shadow: 0 .4rem .8rem -.1rem rgba(0, 32, 128, .1), 0 0 0 1px #f0f2f7;
	border-radius: .5rem;
}
.stage {
	margin: 0.7rem;
	background: inherit;
	display: flex;
	justify-content: center;
    /*  box-shadow: 0 .4rem .8rem -.1rem rgba(0, 32, 128, .1), 0 0 0 1px #f0f2f7;
    border-radius: .25rem;*/
}
